@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html,
body {
    overflow-x: hidden;
    width: 100%;
}

/* * {
    outline: 1px solid red;
} */

header {
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: white;
    overflow: hidden;
    border: 1px solid hsl(13, 100%, 72%);
    border-bottom-left-radius: 6rem;
}

.bg-gradient--blue {
    background-image: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    color: white;
    overflow: hidden;
    border: 1px solid hsl(237, 17%, 21%);
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 6rem;
}

.btn-white {
    color: hsl(353, 100%, 62%);
    border: #fff;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border: 1px solid #fff;
    width: 150px;
}

.btn-white:active,
.btn-white:hover {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.btn-transparent {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 150px
}

.btn-transparent:active,
.btn-transparent:hover {
    color: hsl(353, 100%, 62%);
    border: #fff;
    border-radius: 60px;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border: 1px solid #fff;
}

.btn-login {
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 20px;
    color: #fff;
    border: 1px transparent;
    width: 150px
}

.headings {
    color: hsl(208, 49%, 24%);
}

.font-overpass--600 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
}

.font-overpass--300 {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.footer {
    background-color: hsl(233, 11%, 16%);
    color: #fff;
    overflow: hidden;
    border: 1px solid hsl(237, 17%, 21%);
    border-top-right-radius: 6rem;
}

.footer a {
    color: hsl(240, 2%, 79%);
}

.footer a:active,
.footer a:hover {
    text-decoration: underline;
    color: hsl(240, 2%, 79%);
}